html.mobile, .mobile body {
	width: 100%;
	margin: 0;
	padding: 0;
}
.mobile body {
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	background-color: #c5ccd3;
	font-family: Helvetica;
	font-size: 17px;
}
.view{
	width:100%;
	height: 100%; /* maybe? */
	outline:0px solid #00dddd;
}/*
.dj_portrait .view{
	height:480px;
}
.dj_landscape .view{
	height:auto;
}*/
h1{
	margin:0;
	padding:0;
}
.dxPlayerMobile{
	width:100%;
	height:100%;
	color:#fff;
	background:#000;
	position:relative;


}

.dxPlayerPreview{
	position:absolute;
	display:block;
}
.dj_portrait .dxPlayerMobile{
	height:270px;
}
.dj_landscape .dxPlayerMobile{
	height:270px;
}






.dxPlayerMobileControls{
	position:absolute;
	left:0;
	height:27px;
	width:100%;
	padding:3px;
	background: -moz-linear-gradient(top, #37383e 0%, #2d2d2d 49%, #222222 51%);
	background: -webkit-linear-gradient(top, #37383e 0%, #2d2d2d 49%, #222222 51%);

}

.dj_portrait .dxPlayerMobileControls{
	bottom:-29px;
}
.dj_landscape .dxPlayerMobileControls{
	bottom:0px;
}

.dj_landscape .dxMobileVideo{
	height:240px;
}
.dj_portrait .dxMobileVideo{
	height:100%;
}






