.dxPlayer{
	position:relative;
}
.dxPlayerMobile{
	text-align:center;
}
.dxMobileVideo{
	border:0px solid #ff0000;
	width:100%;
	height:100%;
}
.dxPoster{
	position:absolute;
	top:0px;
	left:0px;
}
.dxScreenPlayButton{
	position:absolute;
	background:url(screenPlayButton.png) no-repeat;
	width:141px;
	height:141px;
	left:50%;
	top:40%;
	margin-left:-70px;
	margin-top:-70px;
}
@media all and (max-width: 480px) {
	.dxScreenPlayButton{
		background:url(screenPlayButton_sm.png) no-repeat;
		width:70px;
		height:70px;
		margin-left:-35px;
		margin-top:-35px;
	}
}
